#! -*- mode:apache-conf-generic -*-

# installing random CSS
Deny from 212.113.37.105

DirectoryIndex wiki.pl
AddDefaultCharset utf-8

Redirect permanent /one http://campaignwiki.org/wiki/DungeonMaps/One_Page_Dungeon_Contest
Redirect permanent /campaignwiki/pics/ http://campaignwiki.org/pics/
Redirect /blogs/ http://campaignwiki.org/planet/

AddType application/vnd.ms-fontobject .eot
AddType application/x-font-ttf        .ttf
AddType image/svg+xml svg svgz
AddEncoding gzip svgz

RewriteEngine on
RewriteRule ^favicon.ico - [last,type=image/png]
